<% content_for :village do %>
<%= @user.village.village %>
<% end %>
<h2><%= @user.email %>님의 장서</h2>
<h2>이웃과 나눌 장서를 등록해주세요.</h2>
<%= form_tag new_user_collection_path, :method => :get do %>
  <p>
		<dl>
			<dt>책 제목을 넣어주세요. (책 검색 시간이 꽤 깁니다. 조금만 기다려주세요.)</dt>
			</dd>
				<%= text_field_tag :q, params[:q] %>
			</dd>
		</dl>
  </p>
	<p>
		<%= submit_tag 'Search', :name => nil %>
	</p>
<% end %>
<h2>현재 장서</h2>
<% unless @collections.empty? %>
<table>
	<% @collections.each do |collection| %>
	  <tr>
	    <td><%= link_to collection.book.title, edit_user_collection_path(params[:user_id], collection.id) %> - <%= collection.book.series %> | <%= collection.book.main_author%></td>
	    <td><%= collection.status %></td>
	    <td><%= collection.memo %></td>
	    <td><%= link_to '삭제', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
</table>
<% else %>
	<p>현재 등록된 장서가 없습니다.</p>
<% end %>
