<% content_for :village do %>
<%= @collection.user.village.village %>
<% end %>
<h2><%= @collection.user.email %>님의 장서</h2>
<ul>
	<li><%= link_to "빌려볼래요", new_collection_deal_path(@collection.id)%></li>
</ul>
<h2><%= @collection.book.title %> - <%= @collection.book.series %></h2>
<ul>
	<li><%= @collection.status %></li>
	<li><%= @collection.book.main_author %></li>
	<li><%= @collection.book.publisher %></li>
	<li><%= @collection.book.size %></li>
	<li><%= @collection.book.isbn10 %></li>
	<li><%= @collection.book.isbn13 %></li>
	<li><%= @collection.book.description %></li>
</ul>
<h3>이 책을 나누고 싶은 이유</h3>
<p><%= @collection.memo %></p>
