<h1><%= @user.email %>님의 장서</h1>
<h2>장서 추가</h2>
<%= form_tag new_user_collection_path, :method => :get do %>
  <p>
		<dl>
			<dt>책 제목</dt>
			</dd>
				<%= text_field_tag :q, params[:q] %>
			</dd>
		</dl>
  </p>
	<p>
		<%= submit_tag 'Search', :name => nil %>
	</p>
<% end %>
<h2>현재 장서</h2>
<table>
<% @collections.each do |collection| %>
  <tr>
    <td><%= link_to collection.book.title, edit_user_collection_path(params[:user_id], collection.id) %> - <%= collection.book.series %> | <%= collection.book.main_author%></td>
    <td><%= collection.status %></td>
    <td><%= collection.memo %></td>
    <td><%= link_to '삭제', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection', new_user_collection_path %>
