<% village = session[:village].village %>
<% content_for :village do %>
<%= village %>
<% end %>
<h2>반갑습니다</h2>
<p>'아파트 도서관' 프로젝트에 참여해 주셔서 감사합니다.</p>
<p>이웃과 책을 나눠보고 싶어 시작하게 된 프로젝트입니다.</p>
<p>엘레베이터에 같이 타게 되도, 자주 보는 얼굴인데도 인사하기 뻘쭘한 사이.</p>
<p>이웃간에 서로 책을 나누면서 인사도 하고 얼굴도 자주 익히면 그런 일이 점점 줄어들겠죠.</p>
<p>아이디와 이메일만 알려주시면 등록이 완료됩니다.</p>
<p>등록 후 이웃에게 <%= village %> 아파트 도서관을 알려주세요. </p>
<p>참여하는 이웃이 많아질수록 <%= village %> 아파트 도서관의 보유 장서도 점점 늘어갑니다.</p>
<p><%= village %> 마을에서 아파트 도서관에 제일 먼저 관심 가져주셔서 다시 한 번 감사드립니다.</p>
<p><%= village %> 아파트 도서관의 초대 명예 관장이 되어주시겠어요?</p>
<p><%= link_to "등록하기", signup_path %></p>
<p>등록 후엔 이웃과 나눌 장서를 등록할 수 있게 됩니다.</p>