<h1>Listing villages</h1>
<%= link_to "CSV", villages_path(format: "csv")%>
<table>
  <tr>
    <th>Si</th>
    <th>Gu</th>
    <th>Dong</th>
    <th>Village</th>
  </tr>

<% @villages.each do |village| %>
  <tr>
    <td><%= village.si %></td>
    <td><%= village.gu %></td>
    <td><%= village.dong %></td>
    <td><%= village.village %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Village', new_village_path, :class => "btn" %>
