<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @village.code %>
</p>

<p>
  <b>Si:</b>
  <%= @village.si %>
</p>

<p>
  <b>Gu:</b>
  <%= @village.gu %>
</p>

<p>
  <b>Dong:</b>
  <%= @village.dong %>
</p>

<p>
  <b>Village:</b>
  <%= @village.village %>
</p>


<%= link_to 'Edit', edit_village_path(@village) %> |
<%= link_to 'Back', villages_path %>
