<h1>Listing books</h1>

<%= form_tag books_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<div id="books">
	<% @books.each do |book| %>
  <h2>
    <%= link_to book.title, book %>
  </h2>
  <div class="info">
    by <%= book.main_author %>
    on <%= book.published_at %>
  </div>
  <div class="description"><%= book.description %></div>
<% end %>
</div>

<br />

<%= will_paginate @articles %>
