<%= form_for(@village) do |f| %>
  <% if @village.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@village.errors.count, "error") %> prohibited this village from being saved:</h2>

      <ul>
      <% @village.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :si %><br />
    <%= f.text_field :si %>
  </div>
  <div class="field">
    <%= f.label :gu %><br />
    <%= f.text_field :gu %>
  </div>
  <div class="field">
    <%= f.label :dong %><br />
    <%= f.text_field :dong %>
  </div>
  <div class="field">
    <%= f.label :village %><br />
    <%= f.text_field :village %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
