<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :village_id %><br />
    <%= f.text_field :village_id %>
  </div>
  <div class="field">
    <%= f.label :seller_id %><br />
    <%= f.text_field :seller_id %>
  </div>
  <div class="field">
    <%= f.label :buyer_id %><br />
    <%= f.text_field :buyer_id %>
  </div>
  <div class="field">
    <%= f.label :collection_id %><br />
    <%= f.text_field :collection_id %>
  </div>
  <div class="field">
    <%= f.label :point %><br />
    <%= f.text_field :point %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
