<h1><%= @user.email %>님과 마을 주민과의 주고 받은 책 목록</h1>
<h2>빌려준 책 목록</h2>
<table>
<% @selling_deals.each do |deal| %>
  <tr>
		<% if deal.buyer %>
			<td><%= deal.buyer.email %></td>
		<% else %>
			<td></td>
		<% end %>
    <td><%= link_to deal.collection.book.title, edit_user_deal_path(@user, deal) %> - <%= deal.collection.book.main_author%></td>
		<td><%= deal.mobile %></td>
		<td><%= deal.memo %></td>
    <td><%= deal.point %></td>
    <td><%= deal.status %></td>
		<td><%= deal.updated_at %></td>
  </tr>
<% end %>
</table>

<h2>빌린 책 목록</h2>
<table>
<% @buying_deals.each do |deal| %>
  <tr>
		<% if deal.buyer %>
			<td><%= deal.buyer.email %></td>
		<% else %>
			<td></td>
		<% end %>
    <td><%= link_to deal.collection.book.title, edit_user_deal_path(@user, deal) %> - <%= deal.collection.book.main_author%></td>
		<td><%= deal.mobile %></td>
		<td><%= deal.memo %></td>
    <td><%= deal.point %></td>
    <td><%= deal.status %></td>
		<td><%= deal.updated_at %></td>
  </tr>
<% end %>
</table>
