<h1>대여 신청</h1>

<%= simple_form_for(@deal, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<% if logged_in? %>
		<%= f.input :buyer_id, :as => :hidden, :input_html => { :value => current_user.id } %>
		<% end %>
    <%= f.input :collection_id, :as => :hidden, :input_html => { :value => params[:collection_id] } %>
		<%= f.input :seller_id, :as => :hidden, :input_html => { :value => @seller.id } %>
		<%= f.input :mobile, :as => :string, :label => "연락처 핸드폰 번호" %>
		<%= f.input :memo, :as => :string, :label => "책 주인에게 전하는 말" %>
    
  </div>

  <div class="form-actions">
    <%= f.submit "확인", :class => "btn btn-primary" %>
    <%= link_to "취소", collection_path(params[:collection_id]), :class => "btn" %> 
  </div>
<% end %>
