<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @book_url.url %>
</p>

<p>
  <b>Title:</b>
  <%= @book_url.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book_url.author %>
</p>

<p>
  <b>Published at:</b>
  <%= @book_url.published_at %>
</p>


<%= link_to 'Edit', edit_book_url_path(@book_url) %> |
<%= link_to 'Back', book_urls_path %>
