<h1>Listing list_pages</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Url</th>
    <th>Page</th>
    <th>Min value</th>
    <th>Max value</th>
    <th>Page action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list_pages.each do |list_page| %>
  <tr>
    <td><%= list_page.category %></td>
    <td><%= list_page.url %></td>
    <td><%= list_page.page %></td>
    <td><%= list_page.min_value %></td>
    <td><%= list_page.max_value %></td>
    <td><%= list_page.page_action %></td>
    <td><%= link_to 'Show', list_page %></td>
    <td><%= link_to 'Edit', edit_list_page_path(list_page) %></td>
    <td><%= link_to 'Destroy', list_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List page', new_list_page_path %>
