<h1>Listing shelves</h1>

<table>
  <tr>
    <th>Book</th>
    <th>User</th>
    <th>Isbn13</th>
    <th>Village</th>
    <th>Status</th>
    <th>Memo</th>
    <th>History</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelves.each do |shelf| %>
  <tr>
    <td><%= shelf.book_id %></td>
    <td><%= shelf.user_id %></td>
    <td><%= shelf.isbn13 %></td>
    <td><%= shelf.village_id %></td>
    <td><%= shelf.status %></td>
    <td><%= shelf.memo %></td>
    <td><%= shelf.history %></td>
    <td><%= link_to 'Show', shelf %></td>
    <td><%= link_to 'Edit', edit_shelf_path(shelf) %></td>
    <td><%= link_to 'Destroy', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shelf', new_shelf_path %>
