<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @shelf.book_id %>
</p>

<p>
  <b>User:</b>
  <%= @shelf.user_id %>
</p>

<p>
  <b>Isbn13:</b>
  <%= @shelf.isbn13 %>
</p>

<p>
  <b>Village:</b>
  <%= @shelf.village_id %>
</p>

<p>
  <b>Status:</b>
  <%= @shelf.status %>
</p>

<p>
  <b>Memo:</b>
  <%= @shelf.memo %>
</p>

<p>
  <b>History:</b>
  <%= @shelf.history %>
</p>


<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
