<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container master-container">
		<h1>
			<%= yield :village %>
			<%= link_to "아파트 도서관", root_path %>
		</h1>
		<ul class="membership">
			<% if logged_in? %>
				<li><%= link_to "로그아웃", logout_path %></li>
			<% else %>
				<li><%= link_to "참여하기", signup_path %></li>
				<li><%= link_to "로그인", login_path %></li>

			<% end %>
		</ul>
		<%= yield %>
	</div>
</body>
</html>
